.button{
  display: inline-block;
  color: #2a2b30;
  text-transform: uppercase;
  font-size: 13px;
  outline: none;
  text-decoration: none;
  background-color: #ffffff;
  padding: 12px 50px;
  border: 1px solid #2a2b30;
  border-radius: 3px;
  line-height: 1;
  font-weight: 500;
  transition: all .25s ease-out;

  &:hover,
  &:focus {
    background-color: #2a2b30;
    color: #ffffff;
  }
}

.button-accent{
  background-color: $accent;
  color: #ffffff;
  border-color: #fff;
  padding: 13px 50px;

  &:hover,
  &:focus {
    background-color: darken($accent, 15%);
    color: #ffffff;
  }
}

