.footer{
  background-color: #3d4050;
  padding: 32px 0;
}

.footer__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;

  @include media-breakpoint-down(lg){
    flex-wrap: wrap;
  }
}

.footer__copyright{
  flex: 1;

  span{
    text-transform: uppercase;
  }

  @include media-breakpoint-down(lg){
    flex: 1 0 100%;
    order: 4;
    text-align: center;
    margin-top: 15px;
  }

  @include media-breakpoint-down(xs){
    margin-top: 25px;
  }
}

.footer__wallets{
  flex: 1.4;
  border-left: 1px solid #c3c3c3;
  border-right: 1px solid #c3c3c3;
  display: flex;
  justify-content: space-around;

  @include media-breakpoint-down(lg){
    flex: 1 0 100%;
    order: 1;
    border: none;
    justify-content: center;
  }

  @include media-breakpoint-down(xs){
    flex-wrap: wrap;
  }
}

.footer__wallet{
  a{
    display: inline-block;
    padding-left: 23px;
    background-repeat: no-repeat;
    background-position: 0 0;
    white-space: nowrap;
    color: #c3c3c3;
    transition: color .25s ease-out;

    &:hover{
      color: #ffffff;
    }
  }

  @include media-breakpoint-down(lg){
    flex: 0;
    margin: 0 15px;
  }

  @include media-breakpoint-down(xs){
    margin-bottom: 10px;
  }
}

.footer__contacts{
  flex: 1;
  display: flex;
  text-align: right;
  justify-content: space-between;

  @include media-breakpoint-down(lg){
    flex: 1 0 100%;
    order: 2;
    text-align: center;
    margin-top: 15px;
    justify-content: center;
  }
}

.footer__wallet-qiwi{
  background-image: url(../images/dist/qiwi.png);
}

.footer__wallet-yandex{
  background-image: url(../images/dist/yandex-money.png);
}

.footer__wallet-web{
  background-image: url(../images/dist/web-money.png);
}

.footer__mail{
  flex: 1.1;

  a{
    display: inline-block;
    padding-left: 23px;
    position: relative;

    &::before{
      content: "\f0e0";
      position: absolute;
      top: -2px;
      left: 0;
      font-family: 'Font Awesome 5 Free';
      font-size: 15px;
      color: $accent;
    }
  }

  @include media-breakpoint-down(lg){
    flex: 0;
    margin: 0 15px;
  }
}

.footer__vk{
  flex: 1;

  a{
    display: inline-block;
    padding-left: 23px;
    position: relative;
    white-space: nowrap;

    &::before{
      content: "\f189";
      position: absolute;
      top: -2px;
      left: 0;
      font-family: 'Font Awesome 5 Brands';
      font-size: 15px;
      color: $accent;
    }
  }

  @include media-breakpoint-down(lg){
    flex: 0;
    margin: 0 15px;
  }
}

